.metadata
release.properties
pom.xml.releaseBackup
derby.log
metastore_db
.idea
.project
.settings
.classpath
*.iml
*dependency-reduced-pom.xml
target
*.bak
target/site/clover
*.class
*.rpm
*.class
*.DS_Store
pom.xml.tag
pom.xml.next
